@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

//////// COLORS GUIDE /////////
// font color: #1de49f       //
// font color: #fefdfa       //
// background-color: #222222 //
///////////////////////////////

body {
	background-color: #222222;
	color: #fefdfa;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
}

a[href] {
	color: #fefdfa;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

.color-number{
	color: #1de49f;
	margin-right: 7px;
}

.navbar{
	font-size: 1em;
	max-width: 200vw;
	margin-left: 10px;
	margin-right: 10px;

	.navbar-brand {
		color: #fefdfa;
		font-size: 1.8em;
		font-weight: 600;
		letter-spacing: 3px;
		list-style: none;
		text-decoration: none;

		&:hover {
			color: #1de49f;
		}
	}

	.navbar-nav a{
		cursor: pointer;
		margin-left: 10px;
	}

	.resume{
		border: 1px solid #1de49f;
		border-radius: 10%;
		color: #1de49f;
		margin-bottom: 0px;
		padding: 8px 15px 8px 15px;
		text-decoration: none;
		transition: background-color .3s;
	
			&:hover {
				background-color: #06442e;
			}
	}
}

.hero {
	padding-bottom: 270px;
	padding-top: 220px;

	.text-wrapper {

		.title {
			font-size: 2em;
			margin-bottom: 10px;
			margin-top: 0;
		}

		.hello{
			color: #1de49f;
			font-size: 1.3em;
		}

		.myName{
			font-size: 7em;
			margin-bottom: 0px;
			margin-top: 0px;
		}

		.myName-description{
			font-size: 1.3em;	
		}

		.description {
			font-size: 1.2em;
			margin-top: 30px;
		}

		.description-contact {
			font-size: 1.2em;
			margin-top: 30px;
		}

		.cta {
			background-color: #fefdfa;
			border-radius: 5px;
			color: #222222;
			display: inline-block;
			margin-top: 20px;
			margin-right: 12px;
			padding: 15px 20px;
			transition: transform .3s;
			text-decoration: none;

			&:hover {
				transform: scale(1.1);
			}
		}

		.cta-resume{
			background-color: #1de49f;
			border-radius: 5px;
			color: #222222;
			display: inline-block;
			margin-right: 12px;
			margin-top: 20px;
			padding: 15px 20px;
			text-decoration: none;
			transition: transform .3s;

			&:hover {
				transform: scale(1.1);
			}
		}

		.cta-contact{
			background-color: #1de49f;
			border-radius: 5px;
			color: #222222;
			display: inline-block;
			margin-top: 20px;
			position: relative;		
			padding: 15px 20px;
			text-decoration: none;
			transition: transform .3s;
			
			&:hover {
				transform: scale(1.1);
			}
		}

	}

	.image-wrapper {
		text-align: right;
	}
}

.portfolio-wrapper {
	display: flex;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: 50px;

	.portfolio-item {
		margin-right: 5px;
		background-color: #303030;
		margin-left: 5px;
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
		transition: 0.4s;

		&:hover {
			transform: translate(0, -8px);
		}

		.portfolio-image {
			max-width: 100%;
			transition: transform .3s;
		}

		.portfolio-name {
			font-size: 2em;
			margin-top: 10px;
			margin-bottom: 10px;
			text-transform: capitalize;
		}

		.portfolio-category {
			color: #999;
			font-size: 1em;
			margin-top: 20px;
			
		}

		.portfolio-stack {
			align-items: center;
			color: #1de49f;
			display: flex;
			font-size: 1em;
   			flex-direction: row;
			justify-content: center; 
			list-style: none;
			padding: 0;
		}

		.portfolio-stack li{
			margin-top: 5px;
			margin-right: 5px;
			margin-left: 5px;
		}
	}
}

////////////
// FOOTER //
////////////

.footer {
	border-top: 1px solid #eaeaea;
  }
  
  .footer ul {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-left: -40px;
	margin-top: 10px;
  }
  
  .footer li {
	padding: 10px 10px;
  }
  
  .footer a {
	cursor: pointer;
	font-size: 2em;

	&:hover {
		color: #1de49f;
	}
  }
  
  .footer a:hover {
	transition: color 0.3s linear;
  }
  
  .footer ul li {
	list-style: none;
  }

  .footer-name{
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	font-size: 1em;
	justify-content: center;
  }

/////////////
// CONTACT //
/////////////

  .contact {
	margin: 50px 0 0 0;
  }
  
  .contact ul {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
  }
  
  .contact li {
	padding: 10px 10px;
  }
  
  .contact a {
	cursor: pointer;
	font-size: 1em;
  }
  
  .contact a:hover {
	transition: color 0.3s linear;
  }
  
  .contact ul li {
	list-style: none;
  }

////////////
// SKILLS //
////////////

  .fa-caret-right{
	color: #1de49f;
	margin-right: 7px;
  }

  #skills li {
	display: inline-block;
	font-size: 0.8em;
	height: 25px;
	margin-top: 30px;
	margin-right: 2px;
	width: 140px;
  }

///////////////  
// PORTFOLIO //
///////////////

  .fa-external-link-alt{
	font-size: 2em;
	margin-right: 20px;

	&:hover {
		color: #1de49f;
	}
  }

  .fa-github{
	font-size: 2em;
	margin-right: 25px;
	margin-left: 25px;

	&:hover {
		color: #1de49f;
	}

  }

  .gitlogo{
	margin-right: 9px;
	font-size: 2em;
  }

/////////////
// LANDING //
/////////////

  .fa-paper-plane{
	margin-right: 9px;
  }

  .fa-file-alt{
	margin-right: 9px;
  }

//////////////////
/* FOOTER LOGOS */
//////////////////

  .foot{
	font-size: 1em;
  }

///////////
/* ABOUT */
///////////

  .pic-about{
	margin-left: 30px;
	border-radius: 50%;  
  }

 .about-box{
	display: flex;
	flex-direction: row;
 }

////////////////
// RESPONSIVE //
////////////////

/*/////////////////////////////////////*/
/* RESPONSIVE DESIGN * 990 */
/*/////////////////////////////////////*/

@media (max-width: 990px) {

	.hero {
		padding-top: 50px;
		padding-bottom: 50px;

		.text-wrapper {
			margin-bottom: 70px;

			.myName{
				font-size: 10em;
			}
		}
	}

	.navbar{
		.navbar-brand{
			font-size: 2.6em;
		}

		.navbar-nav a{
			margin-top: 16px;
		}
	}

	.about-box{
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	 }

	 #skills li {
		display: inline-block;
		font-size: 0.8em;
		height: 25px;
		margin-top: 30px;
		margin-right: 2px;
		width: 140px;
	  }

	 .pic-about{
		margin-left: 0px;
		margin-top: 10px;
		height: 300px;
		width: 300px;
	  }

	  .portfolio-wrapper {
		align-items: center;
		display: flex;
		flex-direction: column;

		.portfolio-item {
			margin-top: 20px;
	  }
	}
	
}


/*/////////////////////////////////////*/
/* RESPONSIVE DESIGN * iPad 1024 x 768 */
/*/////////////////////////////////////*/

@media (max-width: 769px) {

	.hero {
		padding-top: 100px;
		padding-bottom: 100px;

		.text-wrapper {
			margin-bottom: 70px;

			.myName{
				font-size: 8em;
			}
		}
	}

	.navbar{
		.navbar-brand{
			font-size: 1.8em;
		}

		.navbar-nav a{
			margin-top: 16px;
		}
	}

	.about-box{
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	 }

	 #skills li {
		display: inline-block;
		font-size: 0.8em;
		height: 25px;
		margin-top: 30px;
		margin-right: 2px;
		width: 140px;
	  }
	  
	 .pic-about{
		height: 250px;
		margin-left: 0px;
		margin-top: 10px;
		width: 250px;
	  }

	  .portfolio-wrapper {
		align-items: center;
		display: flex;
		flex-direction: column;

		.portfolio-item {
			margin-top: 20px;
	  }
	}
	
}

/*///////////////////////////////////////*/
/* RESPONSIVE DESIGN * iPhone 6/7/8 Plus */
/*///////////////////////////////////////*/
  
  @media (max-width: 415px) {
  
		.hero {
		padding-bottom: 100px;
		padding-top: 40px;

		.text-wrapper {
			margin-bottom: 70px;

			.myName{
				font-size: 7em;
			}
		}
	}

	.navbar{
		.navbar-brand{
			font-size: 1.8em;
		}

		.navbar-nav a{
			margin-top: 16px;
		}
	}

	.about-box{
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	 }

	 #skills li {
		display: inline-block;
		font-size: 0.8em;
		height: 25px;
		margin-top: 30px;
		margin-right: 2px;
		width: 140px;
	  }

	 .pic-about{
		margin-left: 0px;
		margin-top: 10px;
		height: 250px;
		width: 250px;
	  }

	  .portfolio-wrapper {
		align-items: center;
		display: flex;
		flex-direction: column;

		.portfolio-item {
			margin-top: 20px;
	  }
	}
	
}
  
/*//////////////////////////////////*/
/* RESPONSIVE DESIGN * iPhone 6/7/8 */
/*//////////////////////////////////*/
  
  @media (max-width: 376px) {

	.hero {
		padding-bottom: 180px;
		padding-top: 20px;

		.text-wrapper {
			margin-bottom: 40px;

			.myName{
				font-size: 7em;
			}
		}
	}

	.navbar{
		.navbar-brand{
			font-size: 1.6em;
		}

		.navbar-nav a{
			margin-top: 16px;
		}
	}

	.about-box{
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	 }

	 #skills li {
		display: inline-block;
		font-size: 0.8em;
		height: 25px;
		margin-top: 30px;
		margin-right: 2px;
		width: 140px;
	  }

	 .pic-about{
		margin-left: 0px;
		margin-top: 10px;
		height: 200px;
		width: 200px;
	  }

	  .portfolio-wrapper {
		align-items: center;
		display: flex;
		flex-direction: column;

		.portfolio-item {
			margin-top: 20px;
	  }
	}
}


/*/////////////////////////////////*/
/* RESPONSIVE DESIGN * iPhone 5/SE */
/*/////////////////////////////////*/

@media (max-width: 321px) {

	.hero {
		padding-bottom: 30px;
		padding-top: 25px;

		.text-wrapper {
	
			.myName{
				font-size: 6em;
			}
		}
	}

	.navbar{
		.navbar-brand{
			font-size: 1.2em;
		}

		.navbar-nav a{
			margin-top: 16px;
		}
	}

	.about-box{
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	 }

	 #skills {
		 margin-left: 0px;
	 }

	 #skills li {
		display: flex;
		flex-direction: row;
		font-size: 0.8em;
		height: 25px;
		margin-top: 30px;
		margin-right: 0px;
		margin-left: 0px;
		width: 140px;
	  }

	 .pic-about{
		height: 200px;
		margin-left: 0px;
		margin-top: 10px;
		width: 200px;
	  }

	  .portfolio-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

		.portfolio-item {
			margin-top: 20px;
	  }
	}
}

