@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

//////////// COLORS ///////////
// font color: #1de49f       //
// font color: #fefdfa       //
// background-color: #222222 //
///////////////////////////////

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	background-color: #222222;
	color: #fefdfa;
}

a[href] {
	color: #fefdfa;
}

.container {
	// width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.color-number{
	color: #1de49f;
	margin-right: 7px;
}

.navbar{
	margin-right: 10px;
	margin-left: 10px;
	font-size: 1em;

	.navbar-brand {
		color: #1de49f;
		font-size: 1.8em;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-weight: 600;
		text-decoration: none;
		list-style: none;

		&:hover {
			color: #1de49f;
		}
	}

	.navbar-nav a{
		margin-left: 10px;
		cursor: pointer;
	}

	.resume{
			color: #1de49f;
			border: 1px solid #1de49f;
			border-radius: 10%;
			padding: 8px 15px 8px 15px;
			margin-bottom: 0px;
			text-decoration: none;
			transition: background-color .3s;
	
			&:hover {
				background-color: #06442e;
			}
	}
}

.hero {
	padding-top: 180px;
	padding-bottom: 240px;

	.container {
		// width: 60%;
		display: flex;
		align-items: center;
	}

	.text-wrapper {
		// width: 50%;

		&.w-full {
			// width: 100%;
		}

		.title {
			font-size: 2em;
			margin-top: 0;
			margin-bottom: 10px;
		}

		.hello{
			font-size: 1.3em;
			color: #1de49f;
		}

		.myName{
			font-size: 6em;
			margin-bottom: 0px;
			margin-top: 0px;
		}

		.myName-description{
			font-size: 1.3em;	
		}

		.description {
			margin-top: 30px;
			font-size: 1.2em;
		}

		.description-contact {
			margin-top: 30px;
			font-size: 1.2em;
		}

		.cta {
			display: inline-block;
			padding: 15px 20px;
			margin-top: 20px;
			background-color: #fefdfa;
			color: #222222;
			text-decoration: none;
			border-radius: 5px;
			transition: transform .3s;
			margin-right: 12px;

			&:hover {
				transform: scale(1.1);
			}
		}

		.cta-resume{
			display: inline-block;
			padding: 15px 20px;
			margin-top: 20px;
			background-color: #1de49f;
			color: #222222;
			text-decoration: none;
			border-radius: 5px;
			transition: transform .3s;
			margin-right: 12px;

			&:hover {
				transform: scale(1.1);
			}
		}

		.cta-contact{
			display: inline-block;
			position: relative;		
			padding: 15px 20px;
			margin-top: 20px;
			background-color: #1de49f;
			color: #222222;
			text-decoration: none;
			border-radius: 5px;
			transition: transform .3s;
			
			&:hover {
				transform: scale(1.1);
			}
		}

	}

	.image-wrapper {
		// width: 50%;
		text-align: right;
	}
}

.portfolio-wrapper {
	display: flex;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: 50px;

	.portfolio-item {
		margin-right: 5px;
		margin-left: 5px;
		background-color: #303030;
		padding-top: 10px;
		// width: 50%;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
		transition: 0.4s;

		&:hover {
			transform: translate(0, -8px);
		}

		.portfolio-image {
			max-width: 100%;
			transition: transform .3s;
		}

		.portfolio-name {
			font-size: 2em;
			margin-top: 10px;
			margin-bottom: 10px;
			text-transform: capitalize;
		}

		.portfolio-category {
			font-size: 1em;
			color: #999;
			margin-top: 20px;
			
		}

		.portfolio-stack {
			color: #1de49f;
			font-size: 1em;
			display: flex;
			align-items: center;
   			flex-direction: row;
			justify-content: center; 
			list-style: none;
			padding: 0;
		}

		.portfolio-stack li{
			margin-top: 5px;
			margin-right: 5px;
			margin-left: 5px;
		}
	}
}

/* FOOTER */

.footer {
	width: 100%;
	border-top: 1px solid #eaeaea;
  }
  
  .footer ul {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	margin-left: -40px;
	margin-top: 10px;
  }
  
  .footer li {
	padding: 10px 10px;
  }
  
  .footer a {
	font-size: 1em;
	cursor: pointer;
  }
  
  .footer a:hover {
	transition: color 0.3s linear;
  }
  
  .footer ul li {
	list-style: none;
  }

  .footer-name{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	font-size: 1em;
  }

  /* CONTACT */

  .contact {
	margin: 50px 0 0 0;
	// width: 100%;
	
  }
  
  .contact ul {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
  }
  
  .contact li {
	padding: 10px 10px;
  }
  
  .contact a {
	font-size: 1em;
	cursor: pointer;
  }
  
  .contact a:hover {
	transition: color 0.3s linear;
  }
  
  .contact ul li {
	list-style: none;
  }

//   .contact-name{
// 	  text-align: center;
// 	  font-size: 1400px;
//   }

/* SKILLS */

  .fa-caret-right{
	color: #1de49f;
	margin-right: 7px;
  }

  #skills li {
	font-size: 1em;
	width: 150px;
	height: 25px;
	margin-top: 10px;
	margin-right: 10px;
	display: inline-block;
  }

  /* PORTFOLIO */

  .fa-external-link-alt{
	font-size: 2em;
	margin-right: 20px;
  }

  .fa-github{
	font-size: 2em;
	margin-right: 25px;
	margin-left: 25px;
  }

  .gitlogo{
	margin-right: 9px;
	font-size: 2em;
  }

  /* LANDING */

  .fa-paper-plane{
	margin-right: 9px;
  }

  .fa-file-alt{
	margin-right: 9px;
  }

  /* FOOTER LOGOS */

  .foot{
	font-size: 1em;
  }

  /* ABOUT */

  .pic-about{
	margin-left: 160px;
	border-radius: 50%;  
  }


////////////////
// RESPONSIVE //
////////////////

/*/////////////////////////////////////*/
/* RESPONSIVE DESIGN * iPad 1024 x 768 */
/*/////////////////////////////////////*/

@media (max-width: 769px) {

	
  }
  
/*///////////////////////////////////////*/
/* RESPONSIVE DESIGN * iPhone 6/7/8 Plus */
/*///////////////////////////////////////*/
  
  @media (max-width: 415px) {
  
	
  }
  
/*//////////////////////////////////*/
/* RESPONSIVE DESIGN * iPhone 6/7/8 */
/*//////////////////////////////////*/
  
  @media (max-width: 376px) {


	.hero {
		width: 50vh;
	.container {
		width: 50vh;
	}

	.text-wrapper {
		 
		.myName{
			width: 50vh;
		}

	}

  }
  }
